#!/bin/sh
echo "Updating packages ..."
read -p "Continue? [y/N]: " confirm && [[ $confirm == [yY] || $confirm == [yY][eE][sS] ]] || exit 0

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "arch") -}}

sudo reflector --sort rate -l 5 --save /etc/pacman.d/mirrorlist
sudo pacman -Syu

{{ end -}}


{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian") -}}

sudo apt update && sudo apt upgrade

{{ end -}}
